extends layout

block content
  h1= title
  - let food = [{foodquantity:"Full", foodprice: 100, foodcolor:"Yellow"},{foodquantity:"Small", foodprice: 64, foodcolor:"Red"},{foodquantity:"Medium", foodprice: 22, foodcolor:"Orange"}]
  div(class="container-fluid mt-3")
  div(class="row")
    each f in food
        div(class="col-sm-4") #{f.foodquantity} - #{f.foodprice} - #{f.foodcolor}